$card-size: 200px;

.card-grid-component {
  grid-template-columns: repeat(2, $card-size);
  grid-auto-rows: min-content; /* here we need to set the auto height me thinks. */
}

@media (min-width: 768px) {
  .card-grid-component {
    grid-template-columns: repeat(4, $card-size);
  }
}
